body {
    font-family: Arial, Helvetica, sans-serif;
}

.pageMargin {
    margin: auto; 
    width: 1132px;
}

.justBar {
    top: 0;
    width:100%;
    height: 3px;
    background-color: #F48024;
}

.navigation {
    text-align: center;
    display:block;
    height: 59px;
}

#logoInNav {
    vertical-align: middle;
    width: 213px;
}

.navigation a {
    display:table-cell;
    vertical-align:middle;  
    padding: 15px 24px;
    color: #5E5E60;
    text-decoration: none;
}

/* Change background on mouse-over */
.navigation a:hover {
    background: #EFF0F2;
    color: black;
}

.main iframe {
    display:block;
    margin: 0px;
    padding: 0px;
    width: 1130px;
    height: 700px;
    border:1px solid lightgrey;
}

.footer {
    height: 59px;
    color: 	#858C93;
    background-color: #23272A;
}

#logoInFooter {
    position: relative;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 213px;
}

.msgInFooter {
    position: relative;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    float: right;
}

.hi-title-area {
    height: 380px;
    width: 100%;
    background-image: linear-gradient(to right, #126CFA 0, #108AEC 100%);
    color: #FFF;
    font-size: 17px;
}

.hiImage {
    float: left;
    display: table;
    margin-top: 33px;
    width: 400px;
    font-style: italic;
}

.hiImage img {
    width : 400px;
}

.hiMsg {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    width: 500px;
}

#img_timeline {
    padding-top: 20px;
    margin: none;
    width: 800px;
}

.body-area h3 {

}

.paragraph {
    background: #EFF0F1;
    padding: 20px;
}

.paragraph p {
    margin-top: 0px;
    height: auto;
}

.figure {
    color :  black;
    font-style: italic;
}

#figImgGreyText
{
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 600px;
}

#imgGreyText {
    display: table-cell;
    width: 600px;
}

#imgContrastText {
    display: table-cell;
    width: 200px;
}

#figImageContrastText {
    float: right;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0px;
    margin-right: 0px;
    width: 200px;
}

#imgFonts {
    display: table-cell;
    width: 400px;
}

#figImagefonts {
    float: left;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0px;
    margin-right: 20px;
    width: 400px;
}

#imgRepetition {
    display: table-cell;
    width: 200px;
}

#figImageRepetition {
    float: left;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0px;
    margin-right: 20px;
    width: 200px;
}

#figImageDesktopLeftNav {
    float: left;
    margin-left: 0px;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-right: 20px;
    padding-bottom: 10px;
    width: 400px;
}

#imgDesktopLeftNav {
    display: table-cell;
    width: 400px;
}

#imgDesktopRightNav {
    display: table-cell;
    width: 150px;
}

#figImageMobileCenterNav {
    float: left;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 400px;
}

#imgMobileCenterNav {
    display: table-cell;
    width: 400px;
}

#figImageVectorImg {
    float: left;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 650px;
}

#imgVectorImg {
    display: table-cell;
    width: 650px;
}

#figHowfast {
    float: left;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 250px;
}

#imgHowfast {
    display: table-cell;
    width: 250px;
}

#figrank {
    float: right;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 150px;
}

#imgrank {
    display: table-cell;
    width: 150px;
}

#figServerSide {
    float: center;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 750px;
}

#imgServerSide {
    display: table-cell;
    width: 750px;
}